* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(180deg, #374151 0%, #111827 100%);
    margin: 0;
    font-family: 'Roboto', sans-serif;
    width: 1440px;
}

header {
    font-size: 16px;
    font-weight: 400;
    padding: 80px 180px;
    height: 40px;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 69px;
}

header a {
    font-family: 'Source sans pro', sans-serif;
    font-size: 18px;
    line-height: 100%;
    color: #ffffff;
    text-decoration: none;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    gap: 45px;
    margin: 0;
    padding: 0;
}

nav {
    height: 40px;
    padding: 10px 330px 11px 69px;
}

article {
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}

h1 {
    margin: 0 0 30px 0;
    font-size: 24px;
    font-weight: 400;
    line-height: 38px;
    text-align: center;
}

section {
    color: #ffffff;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}

section img {
    border-radius: 5px;
    width: 896px;
    height: 594px;
    margin: 0 272px 69px 272px;
}

section .text {
    margin: 0 366px 103px 366px;
}

form {
    position: relative;
}

form input {
    padding: 9px 128px 12px 49px;
    margin-left: auto;
}

form label {
    position: absolute;
    top: 14px;
    left: 18px;
}

footer {
    font-family: 'Roboto', sans-serif;
}

.logo {
    border-radius: 3px;
    width: 35px;
    height: 35px;
    font-weight: 600;
    display: inline-block;
    box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.15);
    background: #4b5563;
    padding: 6px 12px;
    margin: 0;
}

.img_photo {
    border-radius: 100%;
    width: 50px;
    height: 50px;
    padding: 0;
    translate: (0 -0.244186);
    scale: (0.00581395);
    object-fit: cover;
}

.author {
    display: flex;
    align-items: center;
    max-width: 214px;
    max-height: 53px;
    gap: 16px;
    margin: 0 auto;
    margin-bottom: 28px;
}

.author_name {
    padding: 0;
    margin: 0;
    line-height: 28px;
}

.heading {
    font-size: 16px;
    opacity: 60%;
    margin-top: 14px;
    text-align: center;
}

.name {
    font-size: 16px;
    margin: 0;
}

.profession {
    font-size: 14px;
    opacity: 60%;
    margin: 0;
}

.text p:first-child {
    font-size: 20px;
    line-height: 32px;
}

.text p {
    font-size: 16px;
    line-height: 30px;
}

.text span {
    text-decoration: underline;
}

.footer {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: #ffffff;
    opacity: 60%;
    text-decoration: none;
    margin-top: 77px;
}

#search_form {
    background-color: #1F2937;
    font-size: 16px;
    border-radius: 100px;
    opacity: 60%;
    border-style: none;
    width: 224px;
    height: 40px;
    color: #ffffff;
    margin-bottom: 80px;
}