* {
    box-sizing: border-box;
}

body {
    font-size: 14px;
    font-weight: 400;
    font-family: Roboto, sans-serif;
    margin: 0;
    background: linear-gradient(#374151, #111827);
    line-height: 100%;
}

header {
    font-weight: 400;
    padding: 71px 0 69px;
   /* padding: 80px 180px;*/
    font-family: 'Roboto', sans-serif;
}

header a {
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
    line-height: 100%;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0; 
}

a {
    text-decoration: none;
}

header a {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}

nav ul {
    list-style: none;
}

nav ul li:first-child {
    margin-right: 13px;
}

article {
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}

h1 {
    margin: 0 0 30px 0;
    font-size: 24px;
    line-height: 38px;
    text-align: center;
}

section {
    color: #ffffff;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}

section img {
    border-radius: 5px;
    width: 896px;
    height: 594px;
    margin: 0 272px 69px 272px;
}

section .text {
    margin: 0 366px 103px 366px;
}

footer {
    font-family: 'Roboto', sans-serif;
}

.icon div {
    width: 35px;
    height: 35px;
    background-color: #4b5563;
    border-radius: 3px;
    box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.15);
    display: inline-block;
}

.icon {
    font-family: 'Source sans pro', sans-serif;
    font-weight: 600;
    text-decoration: none;
    padding: 6px 12px;
    border-radius: 3px;
}

.logo a {
    font-size: 18px;
    line-height: 100%;
    color: #ffffff;
    text-decoration: none;
}

.myblog {
    padding: 8px 0 6px 11px;
}

form {
    margin-left: auto;
    position: relative;
}

form input {
    font-size: 16px;
    border-radius: 100px;
    padding: 11px 12px 11px 49px;
    background: rgba(31, 41, 55, 0.6);
    color: #fff;
    border: 0;
    max-width: 224px;
}
form label {
    position: absolute;
    top: 13px;
    left: 18px;
}
form input::placeholder {
    font-weight: 400;
    line-height: normal;
    color: #a3a7ae;
}

form input:focus-visible {
    outline: 1px solid #4b5563;
}

.logo {
    font-size: 18px;
}

.logo__img {
    border-radius: 3px;
    background: #4b5563;
    padding: 6px 12px;
    box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.15);
}
.heading {
    font-size: 16px;
    opacity: 60%;
    margin-top: 14px;
    text-align: center;
}

.name {
    font-size: 16px;
    line-height: 175%;
}

.profession {
    line-height: 200%;
    opacity: 60%;
    margin: 0 0 28px 0;
}

.text p:first-child {
    font-size: 20px;
    line-height: 32px;
}

.text p {
    font-size: 16px;
    line-height: 30px;
}

.text span {
    text-decoration: underline;
}
p {
    margin: 0;
}

.content__list a {
    text-decoration: underline;
}

.content__list a,
.content__item {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}

.content__list {
    color: #FFFFFF;
    margin: 0 auto;
    max-width: 708px;
}

.content__list .content__item:first-child {
    font-size: 20px;
    line-height: 32px;
}
.footer {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: #ffffff;
    opacity: 60%;
    text-decoration: none;
    margin-top: 77px;
}

#search_form {
    background-color: #1F2937;
    font-size: 16px;
    border-radius: 100px;
    opacity: 60%;
    border-style: none;
    width: 224px;
    height: 40px;
    color: #ffffff;
    margin-bottom: 80px;
}